{% extends "admin-panel.twig" %}


{% block TableState %}
    {% for article in articles %}
        <tr>
            <th >{{ article.id }}</th>
            <td>{{ article.title }}</td>
            <td> {{ article.content }}</td>
            <td> <input value="Предпросмотор" type="submit" class="btn btn-primary" ></td>
        </tr>





    {% endfor %}
{% endblock %}